* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navHeading {

    align-items: center;
    margin: 0 auto;
    gap: 50px;
}

#changeColor {

    color: #ef9a1f;
    font-weight: 600;
}

#changeColor1 {

    color: #ef9a1f;
    font-weight: 600;
}

#BackGround {

    background: url('https://images.pexels.com/photos/2228306/pexels-photo-2228306.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 100vh;
    width: 100%;

}


#navBarCahnge {

    box-shadow: 0px 0px 5px grey;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 85%;
    z-index: 999;
}

#containerHome {

    position: relative;
}

#HomePage {

    position: absolute;
    top: 15rem;

}

#heading4 {

    color: #ffffffe3;
    text-transform: uppercase;
    font-size: clamp(16px, 5.5vw, 20px);
}

#heading1 {


    font-size: clamp(32px, 6.6vw, 80px);
    line-height: 90px;
    color: #fff;
    font-weight: 700;
}

#ButttonClick {
    padding: 16px 36px;
    font-size: clamp(16px, 5.5vw, 16px);
    line-height: 16px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 5px;
    text-transform: capitalize;
}

#paragraph1 {

    font-size: clamp(16px, 5.5vw, 22px);
    line-height: 32px;
    color: #fff;
    width: 70%;
    opacity: 0.9;
}

#Images1 {

    width: 100%;
    height: auto;
    margin: 10px;
}

#thirdPage {

    background-color: #f5f9f7;


}

.paragraph2 {

    /* width: 68%; */
    margin: 0 auto;
    padding: 0;
    color: #888;
    line-height: 27px;
    text-align: center;
    font-size: clamp(16px, 5.2vw, 18px);
}

#paragraph3 {

    margin: 0;
    padding: 0;
    color: #888;
    line-height: 27px;
    text-align: start;
    font-size: clamp(16px, 5.2vw, 18px);

}

#circle-text {

    position: absolute;
    top: 20%;
    left: 12%;
}

#textData {

    font-size: clamp(16px, 3.5vw, 20px);
}

#textData1 {

    font-size: clamp(16px, 3.5vw, 20px);

}

#fivePage {

    background: url('https://p.w3layouts.com/demos_new/template_demo/09-09-2021/agrowfarm-liberty-demo_Free/974977506/web/assets/images/banner1.jpg');
    background: linear-gradient(rgba(0 0 0 / 55%), rgba(0, 0, 0, 0.59)), url("https://p.w3layouts.com/demos_new/template_demo/09-09-2021/agrowfarm-liberty-demo_Free/974977506/web/assets/images/banner1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    /* height: 68vh; */
    width: 100%;
}

#ButttonClick2 {

    padding: 16px 36px;
    font-size: clamp(16px, 5.5vw, 16px);
    line-height: 16px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    text-transform: capitalize;
}

#ButttonClick2:hover {

    color: black;
    background-color: white;
}

#paragraph4 {

    color: #fff;
    line-height: 25px;
    /* width: 45%; */
    font-size: clamp(16px, 5.5vw, 16px);

}

#paragraph5 {

    font-size: clamp(16px, 5.5vw, 17px);

}

#ImagesEge {

    width: 100%;
    display: block;
    transition: transform 0.5s;
    cursor: pointer;
}

#ImagesEge:hover {

    transform: scale(1.1);
}


#ImagesEge1 {

    width: 100%;
    display: block;
    transition: transform 0.5s;
    cursor: pointer;
}

#ImagesEge1:hover {

    transform: scale(1.1);
}


#ImagesEge2 {

    width: 100%;
    display: block;
    transition: transform 0.5s;
    cursor: pointer;
}

#ImagesEge2:hover {

    transform: scale(1.1);
}

#BackGround1 {

    background: url("https://p.w3layouts.com/demos_new/template_demo/09-09-2021/agrowfarm-liberty-demo_Free/974977506/web/assets/images/banner4.jpg");
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.395)), url("https://p.w3layouts.com/demos_new/template_demo/09-09-2021/agrowfarm-liberty-demo_Free/974977506/web/assets/images/banner4.jpg");
    background-size: 100% 100%;
    background-position: center;
    /* height: 68vh; */
    /* width: 100%; */

}



/* <!----About-content-us-page---> */


.about-col #content-head {

    padding-top: 0;
    font-size: clamp(18px, 6.5vw, 36px);
    font-weight: 600;
}

.about-col #content-pargh {

    padding-top: 15px 0 25px;
    color: #777;
    font-size: clamp(14px, 4.5vw, 14px);
    font-weight: 300;
    line-height: 22px;
}

#ButttonClickkk{

    padding: 16px 36px;
    background-color: #006837;
    border: 1px solid #006837;
    color: #fff;
    font-size: clamp(16px, 5.5vw, 16px);
    line-height: 16px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 5px;
    text-transform: capitalize;

}
#ButttonClickkk:hover{

    color: #fff;
    background-color: #298f38;

}

#ButttonClickkk11{

    padding: 16px 36px;
    border: 1px solid #006837;
    background-color: transparent;
    color: #006837;
    font-size: clamp(16px, 5.5vw, 16px);
    line-height: 16px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 5px;
    text-transform: capitalize;

}
#ButttonClickkk11:hover{

    color: #fff;
    background-color: #006837;

}

#About-Us{

    background: url('https://p.w3layouts.com/demos_new/template_demo/09-09-2021/agrowfarm-liberty-demo_Free/974977506/web/assets/images/banner1.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.395)), url("https://p.w3layouts.com/demos_new/template_demo/09-09-2021/agrowfarm-liberty-demo_Free/974977506/web/assets/images/banner1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    /* height: 50vh; */
    padding-bottom: 50px;

}

#Contact-Usss{

    background: url('https://p.w3layouts.com/demos_new/template_demo/09-09-2021/agrowfarm-liberty-demo_Free/974977506/web/assets/images/banner1.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.395)), url("https://p.w3layouts.com/demos_new/template_demo/09-09-2021/agrowfarm-liberty-demo_Free/974977506/web/assets/images/banner1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    /* height: 50vh; */
    padding-bottom: 50px;

}
