* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.sec1 .main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    /* border: 2px solid; */
    position: relative;

}

.main .half-50 {
    width: 50%;
    height: 400PX;
    /* position: absolute; */
    /* border: 2px solid; */
    padding: 20px;
    background-color: #333;
}

.main .half-51 {
    width: 50%;
    height: 400PX;
    /* position: absolute; */
    /* border: 2px solid; */
    /* padding: 20px; */
    background-image: url("img/bg-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.half-50 .box{
    
    border-right: 4px solid brown;
}
.box .half-h1{
  text-align: end;  
  color: #ffffff;
  padding-right: 20px;
  
}
.containt{
    text-align: end;
    margin: 20px 0;
    padding-right: 20px;
}
.containt .cont-h2{
    padding: 10px 0;
    color: brown;
    font-size: 15px;



}
.containt .cont-p{
    color: #ffffff;
    font-size: 14px;
}
.center-line{
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    /* width: 1px; */
    background-color: black;

}
.icon{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -20%);
    font-size: 24px;
    
}
.icon .icon-img{
    /* border: 2px solid; */
    padding: 7px;
    border-radius: 50px;
    margin: 35px 0;
    background-color: #ffffff;
    
}
.icon-img a,img{
    text-decoration: none;
    width: 30px;
    
    
    

}